---
import Layout from "../layouts/Layout.astro";
import MainFooter from "@/components/mainFooter.astro";
import MainAside from "@/components/mainAside.astro";
import MainMenu from "@/components/mainMenu.astro";
---

<Layout title="NASPTDIR">
	<div id="app" class="h-screen grid">
		<footer class="bg-slate-500 [grid-area:footer] flex">
			<MainFooter
				nameUser="Cristhian"
				imgUrl="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png"
				idUser={1}
			/>
		</footer>
		<aside class="[grid-area:aside]">
			<MainAside />
		</aside>
		<menu class="[grid-area:menu] flex">
			<MainMenu />
		</menu>
	</div>
</Layout>

<style>
	#app {
		grid-template-areas:
			"footer footer"
			"aside menu";
		grid-template-rows: 50px 1fr;
		grid-template-columns: auto 1fr;
	}
</style>
